@charset "utf-8";

/** Naver 마루부리 폰트
    라이선스 전문: https://help.naver.com/support/contents/contents.help?serviceNo=1074&categoryNo=3497
*/
@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/** CSS 초기화 코드
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Common Settings */
p {
  margin: 5px 0;
}

/** Color */
:root {
  --primary-color: #339af0;
  --primary-hover-color: #74c0fc;
  --secondary-color: #e64980;
  --secondary-hover-color: #f783ac;
  --info-color: #22b8cf;
  --success-color: #51cf66;
  --warning-color: #fab005;
  --danger-color: #f03e3e;
  --white-color: #ffffff;
  --gray-color1: #dee2e6;
  --gray-color2: #d9d9d9;
  --defualt-color: #212529;
}

/** 폰트 설정 */
html,
body {
  font-family: "MaruBuri-Regular";
  font-size: 16px;
  color: var(--defualt-color);
}

/** Button */
.btn {
  border: none;
  background-color: inherit;
  padding: 8px 13px;
  margin: 0;
  border-radius: 0;
}
.btn:hover {
  cursor: pointer;
}
/* Button Size */
.btn-sm {
  font-size: 12px;
}
.btn-md {
  font-size: 14px;
}
.btn-lg {
  font-size: 18px;
}
/* Button Style */
.btn-default {
  background-color: var(--white-color);
  border: 1px solid var(--gray-color2);
}
.btn-default:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}
.btn-primary:hover {
  background-color: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
  transition: all 0.2s ease-in-out;
}
.btn-secondary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--white-color);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover-color);
  border: 1px solid var(--secondary-hover-color);
  transition: all 0.2s ease-in-out;
}
/* Button Group */
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.btn-group > button:first-child {
  margin-left: 0;
}
.btn-group > button {
  margin-left: -1px;
}
.btn-group > .btn-primary:first-child:hover {
  border-left-color: var(--primary-hover-color);
}
.btn-group > .btn-primary {
  border-left-color: var(--primary-hover-color);
}
.btn-group > .btn-secondary:first-child:hover {
  border-left-color: var(--secondary-hover-color);
}
.btn-group > .btn-secondary {
  border-left-color: var(--secondary-hover-color);
}
.btn-group > .btn-default:first-child {
  border-left: 1px solid var(--gray-color2);
}
.btn-group > .btn-default:hover {
  border: 1px solid var(--primary-color);
  z-index: 1;
}
.btn-radius {
  border-radius: 18px;
}

/** Typhography */
/* Typhography Size */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  margin-bottom: 1em;
}
.h1 {
  font-size: 38px;
}
.h2 {
  font-size: 30px;
}
.h3 {
  font-size: 24px;
}
.h4 {
  font-size: 20px;
}
.h5 {
  font-size: 16px;
}
.h6 {
  font-size: 14px;
}

/* Typhography Color */
.text-default {
  color: var(--defualt-color);
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-success {
  color: var(--success-color);
}
.text-info {
  color: var(--info-color);
}
.text-warning {
  color: var(--warning-color);
}
.text-danger {
  color: var(--danger-color);
}

/* Typhography Weight */
.text-thin {
  font-weight: 100;
}
.text-regular {
  font-weight: normal;
}
.text-bold {
  font-weight: bold;
}

/* Typhography Orientation */
.text-divide-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-divide-left::before {
  width: 7px;
  content: "";
  border-bottom: 1px solid var(--gray-color1);
}
.text-divide-left > span,
.text-divide-center > span,
.text-divide-right > span {
  display: inline-block;
  padding: 0 10px;
}
.text-divide-left::after {
  flex: 1;
  content: "";
  border-bottom: 1px solid var(--gray-color1);
}

.text-divide-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-divide-center::before {
  flex: 1;
  content: "";
  border-bottom: 1px solid var(--gray-color1);
}
.text-divide-center::after {
  flex: 1;
  content: "";
  border-bottom: 1px solid var(--gray-color1);
}

.text-divide-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-divide-right::before {
  flex: 1;
  content: "";
  border-bottom: 1px solid var(--gray-color1);
}
.text-divide-right::after {
  width: 7px;
  content: "";
  border-bottom: 1px solid var(--gray-color1);
}

/** Divide */
/* Divide Style */
.divide,
.divide-dash {
  display: block;
  content: "";
  margin: 20px 0;
}
.divide {
  border-bottom: 1px solid var(--gray-color1);
}
.divide-dash {
  border-bottom: 1px dashed var(--gray-color1);
}
